<!DOCTYPE html>
{% load static %}

<html lang="es">
<head>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <title>ListarProducto</title>
</head>
<body class="index">
    <nav class="navbar">
        <label for="" class="brand">
           <a href=""><img src= "{%static "images/logo3.png" %}"></a>
        </label>

        <label class="centrado">
            <a href="">Bodegueria.com</a>
        </label>
        <ul>
            <li><a href="../">►Home◄</a></li>
            <li><a href=" ">►Login◄</a></li>
            <li><a href=" ">►Productos◄</a></li>
            <li><a href="../">Salir</a></li>
        </ul>
    </nav>

    <div class="container alert alert-danger display-6 text-center">CATALOGO</div>
    {% if producto %}
    <div class="container">
        <div>
            <table class="table text-bg-dark p-3">
                <thead>
                    <tr>
                        <th>ID Producto</th>
                        <th>Nombre producto</th>
                        <th>Color producto</th>
                        <th>Dimesiones producto</th>
                        <th>Peso producto</th>
                        <th>Marca producto</th>
                        <th>Ubicación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in producto %}
                        <tr>
                            <th>{{producto.idProducto }}</th>
                            <th>{{producto.nombreProducto}}</th>
                            <th>{{producto.colorProducto}}</th>
                            <th>{{producto.dimesionesProducto}}</th>
                            <th>{{producto.pesoProducto}}</th>
                            <th>{{producto.marcaProducto}}</th>
                            <th>{{producto.ubicacion}}</th>
                            <th><a href='/actualizarProducto/{{producto.idProducto}}' class='btn btn-success btn-sm'><i class='bi bi-pencil'></i></th>
                            <th><a href='/eliminarProducto/{{producto.idProducto}}' class='btn btn-danger btn-sm'><i class='bi bi-trash'></i></th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-primary" role="alert">
                <strong>NO HAY PRODUCTOS AGREGADOS</strong>
        </div>
        {% endif %}
        <div class="container">
            <div class="container">
                <a href="../" class="btn btn-danger float">VOLVER</a>
                <a href="../agregarProducto/" class="btn btn-success float-end">AGREGAR PRODUCTO</a>
                <a href="../codigoQR/" class="btn btn-success float-end float-end">AGREGAR PRODUCTO POR QR</a>
            </div>
        </div>
    </div>
</body>
</html>